.more-btn{
  font-family: 'Azeret Mono', monospace;
  line-height: 21px;
  border: none;
  color:#62db54 ;
  background-color: #1c1c1c;
  transition: .2s;
  &:hover{
    color: #1c1c1c;
    background-color: #62db54;
    transition: .2s;
  }

}
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  background-color: #1c1c1c;
  color: #fff;
  &-topLeft {
    border-top: 2px solid #62db54;
    border-left: 2px solid #62db54;
    border-top-left-radius: 10px;
  }
  
  &-topRight {
    border-top: 2px solid #62db54;
    border-right: 2px solid #62db54;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid #62db54;
    border-left: 2px solid #62db54;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid #62db54;
    border-right: 2px solid #62db54;
    border-bottom-right-radius: 10px;
  }
}
.card:hover {
  .squareRounded {
    display: block;
    @include pad{
      display: none;
    }
  }
  
}
.article-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align:justify;
}