.banner {
  background-image: url("../images/bg_home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 92px);
}
.square {
  width: 10px;
  height: 10px;
  background-color: white;
}

.banner-title-box{
  padding-top: 52px;
  padding-bottom: 52px;
}
.banner-title{
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  @include pad{
    font-size: 24px;
    line-height: 35px;
  }
  
}

.banner-title2{
  font-size: 18px;
  line-height: 26px;
  margin-top: 24px;
  @include pad{
    font-size: 14px;
    line-height: 20px;
  }
}