.code-section-title{
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 50px;
  &::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 3px;
    background-color: #62db54;
  }
  @include pad{
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 32px;
  }
}
.teacher-card{
  border-radius: 24px;
  border:2px solid  #62db5400;
  &:hover{
    border:2px solid  #62db54;
    transition: .2s;
  }
}
.teacher-card-img{
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}
.class-title-info{
  max-width: 258px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align:justify;
  @include pad{
    max-width: 272px;
  }

}

.class-btn:hover{
  outline:3px solid #62db54;
  transition: .2s;
}