.classSwiper {
  .swiper-wrapper {
    // width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mobile{
    display: block;
    // overflow: hidden;
  }
  .class-swiper-active{
    border: 1px solid #62db54;
    color: #62db54;
  }
}
.class-swiper-slide {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 18px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #202020;

}



.teacher-page-card{
  border-radius: 24px;
  box-shadow: 0px 4px 18px;
  background-color: #2d2d2d;

}

.teacher-info-img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.teacher-card-name{
  font-size: 24px;
  line-height: 35px;
  @include pad{
    font-size: 16px;
    line-height: 24px;
  }
}
.class-info-title{
  font-size: 24px;
  line-height: 35px;
  @include pad{
    font-size: 20px;
    line-height: 29px;
  }
}
.class-info-btn,.class-action-btn{
  border-radius: 8px;
  border: 1px solid #202020;
  @include pad{
    // width: 50%;
  }
}
.class-info-btn{
  background-color: #202020;
  border: 1px solid #fff;

}