$utilities: map-merge(
  $utilities,
  (
    "rounded":
      (
        property: border-radius,
        class: rounded,
        values: (
          null: var(--#{$prefix}border-radius),
          0: 0,
          1: var(--#{$prefix}border-radius-sm),
          2: var(--#{$prefix}border-radius),
          3: var(--#{$prefix}border-radius-lg),
          4: var(--#{$prefix}border-radius-xl),
          5: var(--#{$prefix}border-radius-2xl),
          12:12px,
          circle: 50%,
          pill: var(--#{$prefix}border-radius-pill),
        ),
      ),
      "opacity":
      (
        property: opacity,
        values: (
          0: 0,
          10:0.1,
          20:0.2,
          25: 0.25,
          30:0.3,
          40:0.4,
          50: 0.5,
          70: 0.7,
          75: 0.75,
          80: 0.80,
          85: 0.85,
          90: 0.9,
          100: 1,
        ),
      ),
      "zindex":
      (
        property: z-index,
        class: zindex,
        values: (0:0,1:1,2:2,3:3,
        ),
      ),
  )
);